header{
   background-color: aquamarine;
   width: 100%;
}

.logo {
    width: 20%;
}

#academy {
    color: aquamarine;
}

.didascalia {
    font-size: 10px;
}

.highlight {
    background-color: yellow;
}

tr{
    background-color: blue;
    color: white;
}
.linea1{
    background-color: grey;
    color: black
}

.linea2 {
    background-color: white;
    color: black;
}

.linea3 {
    background-color: #af9e9e;
    color: black
}


Footer {
    background-color: blue;
    height: 100%;
}

.brevetto {
    color: white;
    height: 100%;
    text-align: center;
    font-weight: 100%;
}